@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }
  body input, body select, body textarea, body button {
    font-family: 'Montserrat', sans-serif;
    border-style: none;
    background: transparent;
    float: left; }
  body .App {
    float: left;
    width: 100%;
    height: 100vh;
    box-sizing: border-box; }
    body .App img {
      float: right;
      width: auto;
      height: 100vh;
      object-fit: contain;
      background-color: #ffffff;
      z-index: 1; }
    body .App .dereceWrapper {
      z-index: 2;
      position: absolute;
      color: #202020;
      padding: 20px;
      float: left;
      border-radius: 10px;
      margin: 5% 0px 0px 10%; }
      body .App .dereceWrapper .dereceSeperator {
        float: left;
        margin-right: 30px;
        margin-top: 50px; }
        body .App .dereceWrapper .dereceSeperator:first-child {
          width: 750px; }
        body .App .dereceWrapper .dereceSeperator .dereceSpanWrapper {
          float: left;
          margin-right: 20px; }
          body .App .dereceWrapper .dereceSeperator .dereceSpanWrapper span:first-child {
            font-size: 155px;
            color: #02c8bf;
            font-weight: 700; }
          body .App .dereceWrapper .dereceSeperator .dereceSpanWrapper span:last-child {
            font-size: 55px;
            font-weight: 700; }
        body .App .dereceWrapper .dereceSeperator .dereceDetailWrapper {
          float: left;
          margin-top: 25px; }
          body .App .dereceWrapper .dereceSeperator .dereceDetailWrapper:first-child {
            margin-top: 25px; }
          body .App .dereceWrapper .dereceSeperator .dereceDetailWrapper:last-child {
            float: left;
            margin-top: 15px; }
          body .App .dereceWrapper .dereceSeperator .dereceDetailWrapper span:first-child {
            font-size: 45px;
            color: #02c8bf;
            font-weight: 700; }
          body .App .dereceWrapper .dereceSeperator .dereceDetailWrapper span:last-child {
            font-size: 50px;
            font-weight: 700; }
        body .App .dereceWrapper .dereceSeperator .dovizWrapper {
          float: left;
          margin-right: 20px; }
          body .App .dereceWrapper .dereceSeperator .dovizWrapper span img {
            width: 250px;
            float: left;
            height: auto; }
          body .App .dereceWrapper .dereceSeperator .dovizWrapper span input[type="textbox"] {
            font-size: 155px;
            color: #202020;
            font-weight: 700;
            width: 520px;
            float: left;
            margin-top: 30px; }
          body .App .dereceWrapper .dereceSeperator .dovizWrapper span:first-child {
            font-size: 155px;
            color: #02c8bf;
            font-weight: 300; }
          body .App .dereceWrapper .dereceSeperator .dovizWrapper span:last-child {
            font-size: 75px;
            font-weight: 400; }

/*# sourceMappingURL=App.css.map */
